@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'AppleSDGothicNeoL';
  font-weight: normal;
  src: url('./fonts/AppleSDGothicNeoL.ttf') format('truetype');
}
body,
html {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
  overflow: hidden;
}
#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
body {
  margin: 0;
  font-family: 'AppleSDGothicNeoL';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
